<h1>About Tutt</h1>
<p>Time tracker, not people tracker.</p>
<ul>Tutt is designed for two stories:
    <li>I want to check if I'm focused</li>
    <li>I have to track my time for billing</li>
</ul>

<ul>Next features:
    <li>Off-line</li>
    <li>Https</li>
    <li>Version française</li>
    <li>Project sharing</li>
</ul>
<p>Tutt is developped by <a href="http://www.36tribus.com">36tribus</a> with AngularJS, Bootstrap, PlayFramework and some tea.</p>

<div>Version: <span app-version></span></div>

