<h1>{{project.label}}</h1>

<form novalidate class="simple-form">
    <label for="label">Nom du projet</label><input id="label" type="text" ng-model="project.label" /><br>
    <button ng-click="delete(project)">Supprimer</button>
    <button ng-click="update(project)">Enregistrer</button>
</form>

<div>
    <ul>
        <li ng-repeat="session in sessions | orderBy:'start':true">
            {{session.start | date:'MM/dd HH:mm'}} -> {{session.stop | date:'MM/dd HH:mm'}}
        </li>
    </ul>
</div>
