<form novalidate class="simple-form">
    <label for="label">Name: </label><input id="label" type="text" ng-model="project.label" /><br>
    <button ng-click="delete(project)">Delete</button>
    <button ng-click="update(project)">Save</button>
</form>
<h1>{{project.label}}</h1>
<button ng-show="!isStarted()" ng-click="start()">Start</button>
<div ng-show="isStarted()">
    You're working on {{project.label}} since {{project.lastUpdate | date:'MM/dd HH:mm'}}
    <button ng-click="stop()">Stop</button>
</div>
<div>
    <p>{{sum() / 3600  | number:1 }} hours</p>
    <ul>
        <li ng-repeat="session in sessions | orderBy:'start':true" style="background-color:{{session.project.color}};height:{{height(session)}}px">
            {{session.start | date:'MM/dd HH:mm'}} -> {{session.stop | date:'MM/dd HH:mm'}} = {{duration(session)}}
        </li>
    </ul>
</div>
