<div>
    <div><label for="search">Search or create: </label><input id="search" ng-model="searched" type="search"></div>
    <div ng-show="startedProject != null && startedProject.label">You're working on {{startedProject.label}} since {{startedProject.lastUpdate | date:'MM/dd HH:mm'}}<button ng-click="stop(startedProject)">Stop</button></div>    
    <ul>
        <li ng-repeat="project in projects | filter:searched | orderBy:'lastUpdate':true">
            <a ng-href="#/project/{{project.id}}">{{project.label}}</a><button style="background-color:{{project.color}}" ng-show="!isStarted(project)" ng-click="start(project)">Start</button>
        </li>
    </ul>
    <button ng-show="searched.length > 0 && !exists(searched)" ng-click="create(searched)">Create {{searched}}</button>
</div>
<div>
    <ul>
        <li ng-repeat="session in sessions | orderBy:'start':true" style="background-color:{{session.project.color}};height:{{height(session)}}px">
            {{session.start | date:'MM/dd HH:mm'}} -> {{session.stop | date:'MM/dd HH:mm'}} = {{duration(session)}} on {{session.project.label}}
        </li>
    </ul>
</div>